.outer-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    background: linear-gradient(to top, skyblue, white);
}

.containar {
    height: 65%;
    width: 50%;
    min-width: 300px;  /* 최소 크기 지정 */
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}

.top-bar {
    height: 8%;
    width: 100%;
    background-color: rgb(176, 176, 176);
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .fa-solid{
        margin-left: 15px;
    }
}

.circle-list{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;


    #circle {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: tomato;
        margin-left: 10px;
    }

    #circle1 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: yellow;
        margin-left: 10px;
    }

    #circle2 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: greenyellow;
        margin-left: 10px;
    }
}

.icon-list{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.search-box{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    margin-right: 10px;

    #search-bar {
        width: 75%;
        height: 22px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: right;
        align-items: center;
    
        .fa-solid{
            margin-right: 10px;
        }
    }
}

.main {
    height: 92%;
    width: 100%;
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folder-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.folder {
    height: 100px;
    width: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-size: 15px;
    font-family : 'GongGothicMedium';
}

.search-text {
    font-size: 12px;
    margin-left: 4px;
    font-family : 'GongGothicMedium';
}

@media (max-height: 500px) {
    .containar{
        height: auto;
    }
    .main{
        padding: 10px 0 10px 0;
    }
    .top-bar {
        padding: 5px 0 5px 0;
    }
}

@media (max-width: 900px) {
    .containar {
        width: 80%;
        height: auto;
    }
    .main{
        padding: 10px 0 30px 0;
    }
    .top-bar {
        padding: 5px 0 5px 0;
    }
    .circle-list{
        display: none;
    }
    .folder {
        width: 100px;
        height: 80px;
    }
}

@media (max-width: 700px) {
    .folder-list {
        flex-direction: column;
        align-items: center;
    }
    .folder {
        width: 80px;
        height: 60px;
    }

    .content{
        height: 50px;
    }
    .icon-list{
        width: 20%;
    }
    p{
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .top-bar {
        padding: 5px;
    }
    #search-bar {
        width: 90%;
    }
    .folder {
        width: 70px;
        height: 50px;
    }
}