.outer-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: skyblue;
    background: linear-gradient(to top, skyblue, white);
}

.containar {
    height: 80%;
    width: 55%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}

.top-bar {
    height: 8%;
    width: 100%;
    background-color: rgb(176, 176, 176);
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .fa-solid{
        margin-left: 15px;
    }
}

.circle-list{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;

    #circle {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: tomato;
        margin-left: 10px;
    }

    #circle1 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: yellow;
        margin-left: 10px;
    }

    #circle2 {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: greenyellow;
        margin-left: 10px;
    }
}

.search-box{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-right: 10px;

    #search-bar {
        width: 80%;
        height: 22px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: right;
        align-items: center;
    
        .fa-solid{
            margin-right: 10px;
        }
    }
}

.main {
    height: 92%;
    background-color: white;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-box{
    height: 62%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img{
        margin-left: 5px;
        margin-right: 5px;
    }
}

.info-box{
    height: 18%;
    width: 85%;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    border-style: dashed;
    border-color: cadetblue;
    background-color: rgba(219, 248, 255, 0.373);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.folder-list{
    display: flex;
    flex-direction: row;
    margin: 1% 0 1% 0;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

span {
    font-size: 14px;
    font-family : 'GongGothicMedium';
    margin: 2px 5px 2px 20px;
}

.main-text {
    font-size: 20px;
    font-family : 'GongGothicMedium';
    margin: 0 0 10px 10%;
    align-self: self-start;
}

p {
    font-size: 12px;
    font-family : 'GongGothicMedium';
}

@media (max-height: 500px) {
    .containar{
        height: auto;
    }
    .main{
        padding: 10px 0 10px 0;
    }
    .top-bar {
        padding: 5px 0 5px 0;
    }
}

@media (max-width: 800px) {
    p{
        font-size: 10px;
    }
    span{
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .containar{
        height: auto;
    }
    .main{
        padding: 10px 0 10px 0;
    }
    .top-bar {
        padding: 5px 0 5px 0;
    }
    .main-text {
        font-size: 14px;
    }
    .circle-list{
        display: none;
    }
    span{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
}